<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card-header">
        <h3 class="mb-0">Create Employee</h3>
      </div>
      <!-- form card register -->
      <div class="card-body">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label" for="inputName">Name</label>
            <input class="form-control" id="inputName" type="text" formControlName="name"/>
            <div class="invalid-feedback d-block" *ngIf="submitted && myForm['name'].errors ">
              <div *ngIf="myForm['name'].errors['required']">Name is required.</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputEmail3">Email</label>
            <input class="form-control" id="inputEmail3" type="text" formControlName="email"/>
            <div class="invalid-feedback d-block" *ngIf="submitted && myForm['email'].errors">
              <div *ngIf="myForm['email'].errors['required']">Enter your email.</div>
              <div *ngIf="myForm['email'].errors['pattern']">Enter valid email.</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputPassword3">Designation</label>
            <select class="custom-select form-control" id="inputPassword3"
                    (change)="updateProfile($event.target?.value)" formControlName="designation">
              <option value="">Choose...</option>
              <option *ngFor="let employeeProfile of EmployeeProfile" value="{{ employeeProfile }}">
                {{ employeeProfile }}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && myForm['designation'].errors">
              <div *ngIf="myForm['designation'].errors['required']">Choose designation.</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="inputVerify3">Mobile No</label>
            <input id="inputVerify3" class="form-control" type="text" formControlName="phoneNumber"/>
            <div class="invalid-feedback d-block" *ngIf="submitted && myForm['phoneNumber'].errors">
              <div *ngIf="myForm['phoneNumber'].errors['required']">Enter your phone number.</div>
              <div *ngIf="myForm['phoneNumber'].errors['pattern']">Enter Numbers Only</div>
            </div>
          </div>
          <div class="mb-3 d-flex gap-2">
            <button class="btn btn-success btn-block" type="submit">Register</button>
            <button class="btn btn-secondary btn-block" type="button" routerLink="/administrator/employee">Back</button>
          </div>
        </form>
      </div>
    </div>
    <!-- form card register -->
  </div>
</div>
