<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="javascript:void(0)" routerLink="/" class="navbar-brand">MEAN Stack App</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User Board</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" (click)="openNewTab()" class="nav-link" *ngIf="isLoggedIn">Profile in new tab</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a href="/administrator" class="nav-link" routerLink="administrator">Administrator</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link" routerLink="profile">Login user: {{user.userName}} |
          Email: {{user.email}}</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link" (click)="logout(true)">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<div class="sb-nav-fixed">-->
<!--  <app-header></app-header>-->
<!--  <div id="layoutSidenav">-->
<!--    <app-menu></app-menu>-->
<!--    <div id="layoutSidenav_content">-->
<!--      <main>-->
<!--        <router-outlet></router-outlet>-->
<!--      </main>-->
<!--      <app-footer></app-footer>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


