<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Discount</th>
    <th>Created at</th>
    <th>Updated at</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of lstProduct; index as i">
    <td>{{i + 1}}</td>
    <td>{{product._id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td>{{product.discount}}</td>
    <td>{{product.created_at|date:'short'}}</td>
    <td>{{product.updated_at|date:'short'}}</td>
  </tr>
  </tbody>
</table>
