<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      Profile user: <strong>{{ currentUser.userName }}</strong>
    </h3>
  </header>
  <p>
    <strong>First name:</strong> {{ currentUser.firstName }}
  </p>
  <p>
    <strong>Last name:</strong> {{ currentUser.lastName }}
  </p>
  <p>
    <strong>Address:</strong> {{ currentUser.address }}
  </p>
  <p>
    <strong>Token:</strong> {{ currentUser.token.substring(0, 20) }}
    ... {{ currentUser.token.substr(currentUser.token.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong> {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role.name }}
    </li>
  </ul>
  <p>
    <strong>Created at:</strong> {{ currentUser.createdAt }}
  </p>
  <p>
    <strong>Updated at:</strong> {{ currentUser.updatedAt }}
  </p>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
